
<div id="viz" class='container'> 
  <canvas id="analyser"></canvas>
  <canvas id="wavedisplay" ></canvas> 
  <canvas id="sourcedisplay"></canvas> 
  <canvas id="sourcedisplayTwo"></canvas>
  </div>
<div id="controls">
  <button class='btn btn-success' id="record" onclick="toggleRecording(this);" >RECORD</button>
  <a id="save" href="#/"><button class='btn' ng-click="send_newTrack();updateSound();download_track = null" >DOWNLOAD</button></a>
  <input placeholder='recording name'type="text" id='download_input' ng-model='download_track' >
</div>
  <select ng-model='selected' ng-change="changedValue(selected.name);song()" ng-options="item.id+' ('+ item.name +')' for item in current_user_tracks" >
    <option value="">TRACK</option>
    </select>
    
      <div class='control'>
      <label class='btn' id='second-upload'>SELECT - FILE
    <input type="file" file-model="myFile"/>
    </label>
    <button id='newLoad' class='btn' ng-click='loadSound()'>LOAD</button>
    <button class='btn btn-danger' ng-click="uploadFile(selected.name);updateSound()" >UPLOAD</button>
	<button class='btn btn-default col-md-2 play' id='load' >PLAY</button>
    <!-- <button class='btn btn-default' id='play' ng-click='loadSound();track_list()'>LOAD</button> -->
    <button class='btn btn-default stop' id='pause' >PAUSE</button>
    <button class='btn btn-default playSound' id='delete'
     ng-click="deleteTrack(selected.id,selected.name,selected.name);updateSound()">DELETE</button>
      <!-- <ul style='position:absolute;top:540px;left:30px;color:black'><h3 ng-repeat='(key,val) in selected'>{{key}}  -  {{val}}</h3>
      </ul> -->
</div>
    <div ng-show='show_playback' class='fadeInUp' id='edit-playback'>
      <h3 class='playback-label' id='playback-label'><span class='playback-label' >playback</span><span class='playback-label'>rate</span></h3>
    <input class="playback-rate-control" type="range" min="0.25" max="3" step="0.05" value="1">
    <span class="playback-rate-value">1.0</span>
    </div>
    <div id='edit-loop' ng-show='show_loop' class='fadeInUp'>
      <h2 class='loop-label' >loop</h2>
      <h3 class='loop-label' id='playback-loop' >begin loop</h3>
    <input class="loopstart-control" type="range" min="0" max="20" step="1" value="0">
    <span class="loopstart-value">0</span>

    <h3 class='loop-label'id='playback-loop' >end loop</h3>
    <input class="loopend-control" type="range" min="0" max="20" step="1" value="0">
    <span class="loopend-value">0</span>  
    <!-- <label>volume</label>
    <input id="gainSlider" type="range" min="0" max="1" step="0.1" value="0.5"/> -->
    </div>
</div>
</div>
  <div>
        <button ng-click='show_playback = !show_playback' class='btn' id="playback" href="#" >TRACK RATE</button>
        <button ng-click='show_loop = !show_loop' class='btn' id="loop_btn" href="#" >CREATE LOOP</button>
  </div>

<div id='share_table'>
<label for="share_user">share your tracks with</label>
<input placeholder='name' type="text" id="shared_input" class='form-control' ng-model='shared_user_target' >

 <table class="table table-inverse">
<thead class='thead'>
<th >track</th>
</thead>
<tr class='animate-repeat' ng-repeat='track in current_user_tracks'>
<td class='td_tracks' ng-click="share_files(track.name)">{{track.name}}</td>
</tr>
</table>
<button class='btn' ng-click='submit_shares(shared_user_target);updateSound();shared_user_target=null;updateSound()' >share tracks</button>
<button class='btn' ng-click='reset_shares()' >reset tracklist</button>

<!-- <ul id='shared_list' ng-repeat='item in shared_tracks'><li>{{item}}</li></ul>
 --></div>

<!-- <h3 id='shared_list' ng-repeat='item in shared_tracks'>{{item}}</h3>
 -->
  <!-- /*...........................second track..................................*/ -->

<select id='select-two-id' ng-model='selectedTwo' ng-change="changedValueTwo(selectedTwo.name);songTwo()" ng-options="item.id+' ('+ item.name +')' for item in current_user_tracks" >
    <option value="">TRACK-#2</option>
    </select>
    
      <div class='controlTwo'>
  <button class='btn btn-default col-md-2 playTwo' id='playTwo' >PLAY-#2</button>
    <button class='btn btn-default stopTwo' id='pauseTwo'>PAUSE-#2</button>
</div>
    <div id='edit-playback-two' class='fadeInUp' ng-show='show_playback_two'>
      <h3  class='playback-label' id='playback-label'><span class='playback-label'>playback</span><span class='playback-label'>rate-2</span></h3>
    <input class="playback-rate-control-two" type="range" min="0.25" max="3" step="0.05" value="1">

    <span class="playback-rate-value-two">1.0</span>
    </div>
    <div class='fadeInUp' id='edit-loop-two' ng-show='show_loop_two'>
      <h2 class='loop-label'>loop</h2>
      <h3 class='loop-label-two' id='playback-loop-two'>begin loop</h3>
    <input class="loopstart-control-two" type="range" min="0" max="20" step="1" value="0">
    <span class="loopstart-value-two">0</span>

    <h3  class='loop-label-two'id='playback-loop-two'>end loop</h3>
    <input class="loopend-control-two" type="range" min="0" max="20" step="1" value="0">
    <span class="loopend-value-two">0</span>  
    </div>
</div>
</div>
<div>
<button class='btn' id='playback_btn_two' ng-click='show_playback_two = !show_playback_two'>PLAYBACK-#2</button>
<button class='btn' id='loop_btn_two' ng-click='show_loop_two=!show_loop_two'>LOOP-#2</button>

<button class='btn' id='metronome' ng-click='mergeFiles(selected.name,selectedTwo.name,track_name);updateSound()' >JOIN-TRACKS</button>
<input placeholder='track name' id='merge_input' type="text" ng-model='track_name' class='form-control' >

</div>

<div class='fadeInUp' ng-show='show_viz' id = 'slider_edit' >
  <h3>L - analyser</h3>
    <rzslider
         rz-slider-model="sliderA.value"
         rz-slider-options="sliderA.options"></rzslider>
          <rzslider
         rz-slider-model="sliderB.value"
         rz-slider-options="sliderB.options"></rzslider>
         <rzslider
         rz-slider-model="sliderE.value"
         rz-slider-options="sliderE.options"></rzslider>

                <rzslider
         rz-slider-model="sliderC.value"
         rz-slider-options="sliderC.options"></rzslider>
         <rzslider
         rz-slider-model="sliderD.value"
         rz-slider-options="sliderD.options"></rzslider>
</div>

<div class='fadeInUp' ng-show='show_viz' id = 'slider_edit_two' >
  <h3>R - analyser</h3>
    <rzslider
         rz-slider-model="slideF.value"
         rz-slider-options="sliderF.options"></rzslider>
          <rzslider
         rz-slider-model="sliderG.value"
         rz-slider-options="sliderG.options"></rzslider>
         <rzslider
         rz-slider-model="sliderH.value"
         rz-slider-options="sliderH.options"></rzslider>

                <rzslider
         rz-slider-model="sliderI.value"
         rz-slider-options="sliderI.options"></rzslider>
         <rzslider
         rz-slider-model="sliderJ.value"
         rz-slider-options="sliderJ.options"></rzslider>
</div>
<button id='v_button' ng-click='show_viz=!show_viz' class='btn' >A</button>
<!-- <div id='user_background' > -->
<button ng-show='log_out'  class='btn' id='btn_logout' ng-click='logged_in = !logged_in;current_user_logout();updateSound()'>sign out</button>
<button ng-show='logged_in' class='btn signin_user' id='signin_user' ng-click='signin_user = !signin_user;log_out = !log_out' ng-hide='create_user'>sign in</button>
<button class='btn show_user' ng-click='create_user = !create_user;' ng-hide='signin_user'>sign up</button>

<div ng-show='signin_user'>
<form name='sign_in_form' id='signin' ng-submit='currentUser(user.logged_in,user.logged_in_password);sign_in_form.$setPristine()'>
  <div class='form-field'>
<h2 class='signin_label'>SIGN IN</h2>
<label for="username">username</label>
<input type="text" class='form-control' ng-model='user.logged_in' >
<label for="password">password</label>
<input type="password" class='form-control' ng-model='user.logged_in_password'>
<button type='submit' id='sign_up_btn' class='btn' ng-click='signin_user = !signin_user;logged_in = !logged_in;updateSound();'>submit</button>
</div>
</form>
</div>

<div ng-show='create_user'>
<form name='users' id='user_form' ng-submit='addUser(new_user.username,new_user.email,new_user.password)'>
    <h2 style='padding-bottom:0px'>SIGN UP</h2>
    <label class='signin_label'>create username</label>
      <input type="text" ng-model='new_user.username' class='form-control' required>
    <label class='signin_label'>create password</label>
      <input type='password' ng-model='new_user.password' class='form-control' required>
    <label class='signin_label' >add email</label>
      <input type='email' ng-model='new_user.email' class='form-control'>
      <button class='btn pull-left' ng-click='create_user = !create_user;logged_in = !logged_in;log_out = !log_out'
       ng-class="{ active: create_user }" 
       id='submit_btn' required>submit</button>
</form>
<span><h4>{{user.logged_in}}</h4></span><span ng-if='new_user.username !== undefined'><strong><h4 id='user_tag'>{{new_user.username}}</h4></strong></span>
</div>
</div>
<button id='help' ng-click='help=!help' class='btn'>help</button>
<div ng-show='help' id='help_info'>
<ul class='col-md-7'>
<h2>Recording and Sharing Tracks</h2>
<p></p>
<li><p><strong>RECORD - </strong>name your track and click to start recording. Click again to pause and/or finish recording.</p></li>
<li><p><strong>DOWNLOAD - </strong>Click download to save your new track and click either TRACK button to listen.</p></li>
<li><p><strong>SELECT/UPLOAD - </strong>Select any audiofile and save it to your profile. Your tracks are available to listen, manipulate, and share with other users any time you log in.</p></li>
<li><p><strong>PLAY/PAUSE - </strong>Each play/pause group is seperate. Select and play any downloaded/uploaded recordings or track combinations seperately or together.</p></li>
<li><p><strong>TRACK/TRACK-#2 - </strong>Both track buttons can be selected and played corresponding to the left and right analysers.</p></li>
<li><p><strong>LOOP/LOOP-#2 - </strong>Click the loop buttons to display a set of loop controls. Move the start loop slider to a position you wish the track to begin with, and position the loop end slider at any point past the start point that you wish to repeat. You can change the loop however you like while the track/tracks are playing.</p></li>
<li><p><strong>TRACK-RATE/PLAYBACK-#2 - </strong>The track rate/playback-#2 buttons are each used to display corresponding track rate controls. Manipulate the speed and pitch of your tracks. Try mixing and combining the loops and playback rates.</p></li>
<li><p><strong>JOIN - </strong>Merge the current selected tracks together and create a new track. Give your track a name and hit join to combine and save it. You will see your new track displayed with the others. You can record a track, send it to a friend, and continue to combine them until you're happy with the results. The original copies are stored seperately and still available to work with.</p></li>
</ul>
  
</div>


<!-- <form name='del_user' ng-submit='deleteUser(...)'>
  <label>delete user</label>
    <input type="text" ng-model='...'>
</form> -->
<!-- <button class='btn' style='position:fixed;top:600px;left:50px' ng-click='deleteUser(user.current_user_view)'>delete test</button>
<input type="text" style='position:fixed;top:640px;left:50px' ng-model='user.current_user_view'> -->


