<form name='users' ng-submit=''>
  <div class='form-field'></div>
    <label for="" ng-model='new.username'>create user</label>
      <input type="text" ng-model='new_username.username' class='form-control'>
    <label for="" type='password'>create password</label>
      <input type="text" ng-model='new_user_email.email' class='form-control'>
    <label for="" type='email'>add email</label>
      <input type="text" ng-model='new_user_password.password'>
    <button></button>
    </form>
</form>
